{% extends "blog/base.html" %}
{% load custom_filters %}

{% block content %}
<style>
    body {
        background-color: rgba(0, 0, 0, 0.7); /* Adjust this value to make the background more or less faded */
    }
    .post-card {
        background-color: rgba(255, 255, 255, 1); /* Transparent white background */
        backdrop-filter: blur(5px); /* Adds a slight blur effect */
        transition: all 0.3s ease;
    }
    .post-card:hover {
        background-color: rgba(255, 255, 255, 0.1); /* Slightly more opaque on hover */
        color: white;
    }
<!--    .post-content {-->
<!--        color: white;-->
<!--    }-->
</style>
<div class="container mx-auto px-4 py-8">
    <h1 class="text-3xl font-bold mb-8 text-center text-white">Latest Posts</h1>
    <div class="space-y-6 md:space-y-0 md:grid md:grid-cols-2 md:gap-6 lg:grid-cols-3">
        {% for post in posts %}
        <div class="post-card rounded-lg shadow-lg overflow-hidden">
            <div class="relative h-full p-6 flex flex-col justify-between">
            <h2 class="text-xl font-semibold mb-2 text-gray-200">{{ post.title }}</h2>
                <p class="text-sm text-gray-200 mb-2">
                    {{ post.get_safe_content|striptags|truncatechars:100 }}
                </p>
                <div class="flex justify-end mt-2">
                    <a href="{% url 'post_detail' post.id %}" class="inline-block bg-blue-500 hover:bg-blue-600 text-white text-sm py-2 px-4 rounded transition duration-300">
                        Read More
                    </a>
                </div>
            </div>
        </div>
        {% endfor %}
    </div>
</div>

<script>
document.addEventListener('DOMContentLoaded', function() {
<!--    var flashMessage = document.getElementById('flash-message');-->
<!--    if (flashMessage) {-->
<!--        setTimeout(function() {-->
<!--            flashMessage.style.transition = 'opacity 1s ease-out';-->
<!--            flashMessage.style.opacity = '0';-->
<!--            setTimeout(function() {-->
<!--                flashMessage.remove();-->
<!--            }, 1000);-->
<!--        }, 5000); // Message will stay for 5 seconds before fading out-->
<!--    }-->

    const postCards = document.querySelectorAll('.post-card');

    postCards.forEach(card => {
        let timeoutId;

        card.addEventListener('mouseenter', () => {
            clearTimeout(timeoutId);
            card.classList.add('hovered');
        });

        card.addEventListener('mouseleave', () => {
            timeoutId = setTimeout(() => {
                card.classList.remove('hovered');
            }, 2000);
        });
    });
});
</script>
{% endblock %}